<form class="form-horizontal form" action="{% url pages %}" data-bind="submit:pages.sending">
    {% csrf_token %}

    <div class="row">
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="url">Url:</label>
                <div class="controls">
                    <!-- /input-group -->
                    <div class="input-append">
                        <input class="span5" type="text" placeholder="http://example.com/" data-bind="value:pages.url"/>
                        <button class="btn" type="button" data-bind="click:pages.push">Add</button>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="control-group" data-bind="visible:pages.list">
                <label class="control-label" for="url">List Pages:</label>
                <div class="controls">
                    <table class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:pages.links">
                        <tr>
                            <td data-bind="text:$data.link"></td>
                            <td><a href="#" data-bind="click:$root.pages.remove">Remove</a></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn" type="submit">Start</button>
                </div>
            </div>
        </div>
    </div>
</form>