{% extends "base.html" %}

{% block title %} Task {% endblock %}

{% block content %}
    <h3>About Task</h3>
    <h3><a href="https://docs.google.com/document/d/1UuvOb7ko4kG1t20c1ducJlvCyW1hWs9MdGLotpPkA9o/edit#">Backend 1+</a></h3>
    <b>Как быть с невалидными и пустыми стилями CSS?</b>
    <p>Как хотите, хотя лучше помечать как не правильные и игнорировать в дальнейшем разборе</p>
    <br />
    <b>Что есть понятие "не используется"? Если есть p {color: green}; p.vasya {color: red}, но все параграфы в хтмл с классом "vasya", то браузер не использует для рендеринга этот стиль, потому что он переопределен</b>
    <p>Сможете такое реализовать - честь Вам и хвала, но достаточно явного не использования</p>
    <br />
    <b>Можно использовать любые библиотеки и т.п.?</b>
    <b>DOM-парсеры можно использовать?</b>
    <p>Библиотеки можно использовать. Но, не превратите свою работу в работу других людей. То есть если Вы просто так возьмете и используете готовое решение, будьте готовы к тому что оценку получит автор решения. А библиотеки - пожалуйста.</p> 
    <p>Что делать вообще можно, чего нельзя?.. Ничего не понятно!</p>
    <h3>Вам дали задачу и не ограничивают Вас в выборе языка/фреймвока/варианта исполнения, сняли ограничения на библиотеки и хотят только одного - готового решения написанного самостоятельно.</h3>
    <p><b>И весь срач в чате сводиться к вопросу “а что если я то, а не это?” Да какая разница?</b> Если Вы распарсите один файл хорошо, а кто-то замахнется на сложный сайт и увязнет в отладке - Вы в профите. Если Вы распарсите один файл хорошо, а кто-то любой сайт плохо - Вы в профите. Даже если кто-то распарсит сложный сайт хорошо, а Вы один файл хорошо - Вы профите по отношению к остальным двум.</p>
    <p>Какие проблемы?</p>
    <br />
    <p><a href="https://docs.google.com/document/d/1UuvOb7ko4kG1t20c1ducJlvCyW1hWs9MdGLotpPkA9o/edit#">Оригинал задания на Backend 1+ здесь</a></p>
{% endblock %}