<form class="form-horizontal form" action="{% url website %}" data-bind="submit:website.sending">
    {% csrf_token %}
    <div class="row">
        <div class="span8">
            <div class="control-group">
                <label class="control-label" for="url">Url:</label>
                <div class="controls">
                    <!-- /input-group -->
                    <div class="input-append">
                        <input class="span5" type="text" name="url" id="url" placeholder="http://example.com/" data-bind="value:website.url" />
                        <button class="btn" type="submit" id="go">Go!</button>
                    </div>
                    <!-- /input-group -->
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="depth">Depth parsing</label>
                <div class="controls">
                    <input type="text" id="depth" name="depth" placeholder="Enter numeric" data-bind="value:website.depth" value="">
                </div>
            </div>
        </div>
    </div>
</form>
